version: '3'

services:
  mysql:
      image: mysql:latest
      ports:
        - 3306:3306
      volumes:
        - ./data:/var/lib/mysql
      environment:
        - MYSQL_ROOT_PASSWORD=password
        - MYSQL_DATABASE=restapi
        - MYSQL_USER=user
        - MYSQL_PASSWORD=password
  fastapi:
      stdin_open: true
      tty: true
      build: 
        context: .
        dockerfile: dockerfile
      ports:
        - 8500:8500
      volumes:
        - ./src:/app/src
      depends_on:
        - mysql
      environment:
        - DB_HOST=mysql
        - DB_USER=user
        - DB_PASSWORD=password
        - DB_NAME=restapi

  
      